{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Üdvözöllek</span>a Pókerkéz alkalmazásban</h1>

                <p>
                    A gomb lenyomásával kérhetsz új leosztást.
                </p>
            
                <form action="{{path('huzas')}}" method="post">
                    <p>Hány kártyacsomagból álljon a pakli? írd be a választ!</p>
                    <p style="text-align:center"><input type="number" name="csomagszam" value="1"></p>
                    <p style="text-align:center"><input type="submit" value="Húzás"></p>
                </form>    
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

    a.button 
    {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

        text-decoration: none;
        padding: 10px;
        color: initial;
        text-align: center;
    }

{% endblock %}
